<!-- <footer>
    <div class="f-content text-muted">
        <div class="f-social-links">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div class="co-stuff">
            &copy MapMyStay Pvt. Ltd. |
            <a href="/listings">Privacy policy</a>
            <br> <small>Project II - Syed Ghanim Akhtar, 2021-310-216</small>
        </div>
    </div>
</footer> -->

<footer class="pb-2 mt-5 bg-body-tertiary">

    <!-- Copyright -->
    <div class="text-center ">
        <div class="f-social-links mt-2">
            <i class="fa-brands fa-lg fa-square-facebook p-2"></i>
            <i class="fa-brands fa-lg fa-square-instagram p-2"></i>
            <i class="fa-brands  fa-lg fa-square-x-twitter p-2"></i>
        </div>
      
        <small>
            &copy; MapMyStay Pvt. Ltd.
            <br>
            <span style="font-size: .75rem;">Project II - Syed Ghanim Akhtar, 2021-310-216</span>
          </small>
          
          
          
    </div>
    <!-- Copyright -->
</footer>